# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Ambiente local
venv/
ENV/
env/
instance/

# Configs locais / segredos
.env
*.env
*.local

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db